<head th:fragment="header">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="icon" href="/favicon.ico">
	<link rel="stylesheet" href="../../css/layui.css">
</head>
<div th:fragment="footer">
    <script src="../../js/angular.min.js"></script>
	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/app.js"></script>
	<script src="../../js/layer/layer.js"></script>
	<script src="../../js/layui/layui.js"></script>
	<script src="../../js/layui/layui.all.js"></script>
</div>
