<!DOCTYPE html>
<html lang="zh-CN" ng-app="app">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link rel="stylesheet" href="css/login.css">

<body class="login-wrap signin" ng-controller="GlobalCtrl">
    <div class="login-container">
        <form class="login-form">
            <div class="input-group">
                <input type="text" id="username" class="input-field">
                <label for="username" class="input-label">
                    <span class="label-title">用户名</span>
                </label>
            </div>
            <div class="input-group">
                <input type="password" id="password" class="input-field">
                <label for="password" class="input-label">
                    <span class="label-title">密码</span>
                </label>
            </div>
            <button type="button" ng-click="login();" class="login-button">登录<i class="ai ai-enter"></i></button>
        </form>
    </div>
</body>

<div th:include="include::footer"></div>
<script src="js/web/web-login.js"></script>
</html>