<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.product.dao.ProjectDao">
	
	<sql id="Base_Column_List">
    	id, project_name, company_id, progress, start_time, test_time, finish_time, create_time
	</sql>

	<sql id="Base_Column_Where">
		<if test="id != null and id != ''"> and id = #{id} </if>
		<if test="projectName != null and projectName != ''"> and project_name = #{projectName} </if>
		<if test="companyId != null and companyId != ''"> and company_id = #{companyId} </if>
		<if test="startTime != null and startTime != ''"> and start_time = #{startTime} </if>
		<if test="testTime != null and testTime != ''"> and test_time = #{testTime} </if>
		<if test="finishTime != null and finishTime != ''"> and finish_time = #{finishTime} </if>
		<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
  	</sql>

	<select id="get" resultType="com.product.domain.ProjectDO">
		select
			<include refid="Base_Column_List" />
		from
			fs_project
		where
			id = #{id}
	</select>

	<select id="list" resultType="com.product.domain.ProjectDO">
		select
			<include refid="Base_Column_List" />
		from
			fs_project
        <where>
			<include refid="Base_Column_Where" />
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select
			count(*)
		from
			fs_project
		<where>  
			<include refid="Base_Column_Where" />
		</where>
	</select>

</mapper>